<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{43,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,81},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,81},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,81},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,81},{43,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,81},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,81},{43,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,81},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,81},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,81},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,81},{38,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,77}}</string>
                <key>sourceSize</key>
                <string>{38,77}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,160},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,160},{43,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,76}}</string>
                <key>sourceSize</key>
                <string>{43,76}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,160},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,160},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,160},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,160},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,160},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,160},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,241},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,241},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,241},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,241},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,241},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,241},{41,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,71}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,241},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>momia.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4267dd6f0c98574f07edb0550c68ee20:1d0c7e02421491f7a0b119f9fb78a666:1d3ebb774f364463effe9909b11b28ef$</string>
            <key>textureFileName</key>
            <string>momia.png</string>
        </dict>
    </dict>
</plist>
